<!-- START MODULE MENU LOOP -->
<ul class="menu-block5">
<{foreach name=menuloop item=imenu from=$block.contents}>
	<li>
	<{if $imenu.link != ""}>
		<a class="menu<{if $imenu.link == $smarty.const.XOOPS_URL|cat:"/index.php"}>Top<{else}>Main<{/if}>" href="<{$imenu.link}>" target="<{$imenu.target}>"><{$imenu.title}></a>
		<{if $imenu.sublinks}>
		<ul>
			<{foreach item=sublink from=$imenu.sublinks}>
			<li><a class="menuSub" href="<{$sublink.url}>"><{$sublink.name}></a></li>
			<{/foreach}>
		</ul>
		<{/if}>
	<{else}>
		<{$imenu.title}>
	<{/if}>
	</li>
<{/foreach}>
</ul>
<!-- END MODULE MENU LOOP -->
